<!DOCTYPE html>
<html ng-app ="myApp">
<head>
	<title>Angular Getting Started</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="script.js"></script>
<body>

<div ng-controller= "myController">

<form name ="searchUser" ng-submit="search()"> <!-- also could use ng-click on the submit button, but we are using required tag in the input placeholder, that's whywe used ng-submit on the form --> 
	
	{{userName}}
Enter the name of the User <input type="text" required placeholder = "Search USR here" ng-model="userName"> 

<input type="submit" value="SUBMIT THIS SHIT" >

</form>


<div>
	{{error}}

	
<ul ng-repeat="eachRepo in user">
<li>Repo Number:  {{$index + 1}}</li>
<br>	
<li> {{eachRepo.id}}</li>
<br>
<li> {{eachRepo.name}}</li>
<br>
<li> {{eachRepo.full_name}}</li>
<br>
<li> {{eachRepo.owner.login}}</li>
<br>
<li> {{eachRepo.owner.avatar_url}}</li>

<hr>
</ul>

<!-- id: 48929868,
name: "angular",
full_name: "srini88/angular",
owner: {
login: "srini88",
id: 3435834,
avatar_url: "https://avatars.githubusercontent.com/u/3435834?v=3", -->

</div>



</div>



</body>
</html>